html,
body {
  padding: 0;
  margin: 0;
  background-color: #f0f0f0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
p {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(#ee9ca7, #ffdde1);
}

::-webkit-scrollbar-track {
  background: transparent;
}
